:root {
  --color-1: black;
}

#root {
  background-color: var(--color-1);
  height: 100vh;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

#contact-section {
  color: #fff;
}

 #contact {
  color: #fff;
  text-decoration: none;
 }

#wrapper {
  background-color: red;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

#quote-box {
  background-color: white;
}

#text {
  color: var(--color-1);
  text-align: center;
  font-size: 1.9rem;
  padding-left: 20px;
  padding-right: 20px;
}

#author {
  color: var(--color-1);
  text-align: right;
  font-size: 1.03rem;
  font-weight: 300;
}

#buttons {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  width: 480px;
  height: 54px;
  margin: auto;
}

#tweet-quote {
  text-decoration: none;
  color: var(--color-1);
}

#tweet-qutoe:visited {
  color: inherit;
}

#new-quote {
  color: #fff;
  background-color: var(--color-1);
  border-radius: 3px;
  height: 36px;
  padding: 10px 15px;
  margin-top: 9px;
  margin-bottom: 9px;
  border: none;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 2s;
  animation-iteration-count: 1;
}