#root {
  background-color: black;
  height: 100vh;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  background-color: orange;
  width: 540px;
  padding: 20px;
}

#text {
  text-align: center;
  color: #fff;
}

#author {
  text-align: right;
  color: #fff;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

#tweet-quote {
  text-decoration: none;
}

#tweet-qutoe:visited {
  color: inherit;
}

#new-quote {
  color: #fff;
  background-color: green;
  border-radius: 3px;
}

/* default styling

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
} */
